#header{
    background-color: rgba(78,160,255,255);
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-repeat: repeat;
    position: relative;
    
}

#logo-booleaner{
    position: absolute;
    bottom: 0px;
    left: 0px;
}